<div>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="resource">
        {{pointValue|translate}}
      </ion-col>
      <ion-col size="6">
        <ion-progress-bar value="{{barValue}}" [ngClass]="getClass(resourceValue)"></ion-progress-bar>
      </ion-col>
      <ion-col size="3">
        <p>{{getResourceValue(resourceValue)|number:'1.0-1':'it'}} {{getResourceUnit(resourceValue)}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="className">
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">

        <ion-progress-bar color="secondary" value="{{barCompareValue}}" [ngClass]="getClass(resourceValue)"></ion-progress-bar>
      </ion-col>
      <ion-col size="3">

        <p>{{getResourceValue(resourceCompareValue)|number:'1.0-1':'it'}} {{getResourceUnit(resourceCompareValue)}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>