<ion-header>
  <ion-toolbar class="color-bar">
    <ion-buttons slot="start">
      <ion-back-button class="language"></ion-back-button>
    </ion-buttons>
    <ion-title class="game-title"><div>{{'title_game_selection'|translate}}</div><div class="game-subtitle">{{'label_operatore'|translate}}</div></ion-title>
    <ion-buttons class="language" slot="end">
      <!-- <ion-label> {{'label_logout'|translate}}</ion-label> -->
      <ion-button (click)="changeClass()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="common-content">
  <img class="background-img" src="./assets/logo.png">  <ion-list *ngIf="stat" lines="none">
    <!-- <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label> {{'label_totale_conferiti'|translate}} </ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="stat-value"> {{stat.totaleConferiti}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label> {{'label_totale_attesi'|translate}} </ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="stat-value"> {{stat.totaleAttesi}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label> {{'label_totale_corrispondenti'|translate}} </ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="stat-value"> {{stat.totaleCorrispondenti}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label> {{'label_totale_inattesi'|translate}} </ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="stat-value"> {{stat.totaleInattesi}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <div expand="block">
    <ion-button class="color-bar" size="block" ion-button (click)="home()">{{'label_new_item'|translate}} </ion-button>
</div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar class="color-bar">
    <ion-title class="ion-text-center">{{'label_operatore'|translate}}</ion-title>
  </ion-toolbar>
</ion-footer> -->