.color-bar {
    --background: #0fb4d7;
    --color: white;
    .game-title {
        text-align: center;
        width: 100%;
    }
    .language {
        ion-item {
            min-width: 250px;
            --background: #0fb4d7;


        }
    }
}

ion-grid {
    .qr-code {
        width: 128px;
        margin: auto;
    }

    .interaction {
        text-align: center;

        .bold {
            font-weight: bold;
        }
    }

    ion-button {
        --background: #0fb4d7;
        --color: white;
        font-size: medium;
        max-width: 100%;
    }
}