<ion-header>
  <ion-toolbar class="color-bar">
    <ion-buttons class="language" slot="end">
        <ion-label> {{'label_logout'|translate}}                </ion-label>
      <ion-button (click)="changeClass()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="item">
        <div class="qr-code">
          <img src="./assets/qr-code.png">
        </div>
        <div *ngIf="item" class="interaction">
            <p><span>{{'label_id'|translate}}</span><span class="bold"> {{item.text}}</span></p>
            <p *ngIf="itemPresent"><span class="bold">{{'label_item_present'|translate}}</span></p>
            <ion-button size="large" ion-button (click)="sendLim()" [disabled]="itemPresent">{{'label_send_to_lim'|translate}}
              </ion-button>
              <ion-button size="large" ion-button (click)="cancel()" >{{'label_cancel'|translate}}
                </ion-button>
          </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-label>
          {{'label_code_correct'|translate}}
        </ion-label>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col>
        <ion-label>
          <div *ngIf="scanData">
            <p>{{'label_id'|translate}} {{scanData.text}}</p>
            <p *ngIf="itemPresent">{{'label_item_present'|translate}}</p>
            <ion-button ion-button (click)="sendLim()" [disabled]="itemPresent">{{'label_send_to_lim'|translate}}
            </ion-button>
          </div>
        </ion-label>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="color-bar">
    <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
  </ion-toolbar>
</ion-footer>