// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@font-face {
    font-family: 'Montserrat';
    src: url('./assets/font/Montserrat/Montserrat-Regular.ttf');
}

$font-family-base: "Montserrat";
$font-family-md-base: "Montserrat";
$font-family-ios-base: "Montserrat";
$font-family-wp-base: "Montserrat";

* {
    font-family: 'Montserrat';
}

.bold {
    font-weight: bold;
}

ion-button {
    text-transform: none;
}

.title {
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
}

.game-title {
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
}

.modal-category .modal-wrapper {
    --height: 570px;
    // --width: 700px!important;
    --background: aqua;
}

ion-footer {
    ion-title {
        line-height: 60px;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.logos {
    display: inline-flex;
    background-color: white;
    border-radius: 8px;
    margin-left: auto;

    .frame {
        height: 100%;
        width: 160px;
        white-space: nowrap;


    }
    .frame:nth-child(2) {
        margin-left: 34px;
    }
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        // background: #3A6F9A;
        vertical-align: middle;
        // max-height: 50px;
        max-width: 160px;
        max-height: 66px;
        padding: 4px;
    }
}