// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@font-face {
    font-family: 'Montserrat';
    src: url('./assets/font/Montserrat/Montserrat-Regular.ttf');
  }
  $font-family-base: "Montserrat"; 
  $font-family-md-base: "Montserrat"; 
  $font-family-ios-base: "Montserrat"; 
  $font-family-wp-base: "Montserrat"; 
  * {
    font-family: 'Montserrat';
  }
.bold {
    font-weight: bold;
}
ion-button {
    text-transform: none;
}
.title {
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
}

.game-title {
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
}
.modal-category .modal-wrapper {
    --height: 570px;
    // --width: 700px!important;
    --background: aqua;
}
