.color-bar {
    --background: #0fb4d7;
    color: white;

    

    .language {
        ion-item {
            min-width: 250px;
            --background: #0fb4d7;
            color: white
        }
    }
}

ion-grid {
    font-family: 'Montserrat', sans-serif !important;
    padding: 0px;
    height: 100%;

    ion-row {
        height: 100%;

        ion-img {
            padding: 50px;
        }

        ion-button {
            width: 164px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: 25px;
        }

        ion-col {
            padding: 0px;
        }

        .robot-content {
            background-color: #dcf5fa;
            position: relative;
            .donation{
                ion-icon {
                    position: absolute;
    right: 41px;
    top: 43px;
    font-size: 57px;
    /* border-radius: 56px; */
    width: 60px;
    z-index: 99;
                }
                ion-badge {
                    position: absolute;
                    right: 3px;
                    top: 3px;
                    font-size: 57px;
                    border-radius: 56px;
                    width: 60px;
                }
            }
            .robot-home {
                ion-img {
                    // height: 541px;
                    width: 80%;
                    margin: auto;

                }
            }
        }

        .garbage-content {
            background-color: #b4e6c8;
            text-align: center;
            position: relative;

            ion-img {
                max-width: 100%;
                max-height: 100%;
                width: calc(70%);
                margin: auto;
            }

            .wanted-container {
                padding: 8px;

                .wanted-title {
                    font-weight: bold;
                }

                .date-label {
                    span {
                        font-style: italic;
                    }
                }
            }
        }

        .team-content {
            background-color: #dcf5fa;
            height: 50%;
            position: relative;
        }

        .material-content {
            background-color: #ffe6e6;
            height: 50%;
            position: relative;

            ion-badge {
                position: absolute;
                right: 3px;
                top: 3px;
                font-size: 57px;
                border-radius: 56px;
            }
        }
    }
}
.row-stars{
    background-color: #bee6f5;
    border-radius: 14px;
    margin: 8px;
    padding: 8px;
    .star{
        font-size: 40px;
        text-align: center;
     }
}