.language {
    ion-item {
        min-width: 250px;
    }
}

ion-grid {
    height: 100%;
    ion-row {

        height: 100%;

        ion-img {
            padding: 50px;
        }

        ion-button {
            width: 164px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: 25px;
        }

        ion-col {
            padding: 0px;
        }

        .robot-content {
            background-color: #fff7dd;
            position: relative;

            .robot-home {
                ion-img {
                    height: 541px;
                    width: 345px;
                    margin: auto;
                }
            }
        }

        .garbage-content {
            background-color: #C4FCE4;
            text-align: center;
            position: relative;

            ion-img {
                height: 450px;
                margin: auto;
            }

            .wanted-title {
                font-weight: bold;
            }

        }

        .team-content {
            background-color: #E0F8FF;
            height: 50%;
            position: relative;

        }

        .material-content {
            background-color: #FADDD6;
            height: 50%;
            position: relative;

            ion-badge {
                position: absolute;
                right: 3px;
                top: 3px;
                font-size: 57px;
                border-radius: 56px;
            }
        }
    }
}