ion-thumbnail {
    min-height: 30vh;
    width: 100%;

    ion-img {
        max-height: 30vh;
    }
}

.language {
    ion-item {
        min-width: 250px;
    }
}

ion-button {
    width: 164px;
    margin: auto;
}
ion-col{
    padding: 0px;
}
.robot-content {
    background-color: #fff7dd;

    .robot-home {
        ion-img {
            height: 541px;
            width: 345px;
            margin: auto;
        }
    }
}

.garbage-content {
    background-color: #C4FCE4;

}

.team-content {
    background-color: #E0F8FF;

}

.material-content {
    background-color: #FADDD6;

    ion-badge {
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 57px;
        border-radius: 56px;
    }
}