<ion-header>
  <ion-toolbar class="color-bar">
    <ion-buttons slot="start">
      <ion-button (click)="chooseBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title class="game-title">{{'title_type_selection'|translate}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngIf="firstStep">
    <div *ngFor="let item of items">
      <ion-row class="label-row">
        <ion-col text-center class="box" (click)="chooseItem(item)">
          <span>{{getStringItem(item)}}</span>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="label-row">
      <ion-col text-center class="box" (click)="chooseOther()">
        <span>{{'other_item'|translate}}</span>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>