.color-bar {
    --background: #0fb4d7;
    --color: white;
    ion-button {
        --color: white !important;
    }
}
ion-content {
    --background: #dcf5fa;
    .select-label {
        color: #12b4d7 !important;
        font-weight: bold;
        width: 100%;
        text-align: center;
        font-size: 24px;
    }
    ion-grid {
        background-color: white;
        border: solid 3px #12b4d7;
        border-radius: 16px;
    }
    .label-row {
        margin: 8px;

        .box {
            border-radius: 12px;
            padding: 15px 8px   ;
            background-color: #0fb4d7;
            color: white;
            margin: 1px;
            border: solid 3px white;
            font-size: 18px;
        }
    }

    .class-img {
        // max-width: 100px!important;
        height: 50px !important;
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
    }
}
.back {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
