<ion-header>
  <ion-toolbar class="color-bar">
      <ion-title class="game-title">{{'title_game_selection'|translate}}</ion-title>

    <ion-buttons class="language" slot="end">
        <ion-label> {{'label_logout'|translate}}                </ion-label>
      <ion-button (click)="changeClass()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
recap
<ion-button size="large" ion-button (click)="newItem()" >{{'label_new_item'|translate}}</ion-button>
<ion-button size="large" ion-button (click)="end()" >{{'label_end'|translate}}</ion-button>

</ion-content>
