<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  {{message}}
</ion-content>
<ion-footer>
    <ion-toolbar slot="start">
      <ion-buttons>
        <ion-button shape="round" color="primary" fill="outline">Dispositivo</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button shape="round" color="primary" fill="outline" >Rimuovi</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
