<ion-app>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-buttons class="language" slot="end">
        <ion-item>
          <ion-label>{{'label_language_selection'|translate}}</ion-label>
            <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
              <ion-select-option value="en" selected="true">English</ion-select-option>
              <ion-select-option value="it">Italiano</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button (click)="logout()">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ion-router-outlet (title)="onClassSelected=($event)"></ion-router-outlet> -->
  <ion-router-outlet></ion-router-outlet>
</ion-app>