<ion-header>
  <ion-toolbar class="color-bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title ion-text-center">{{'title_material'|translate|uppercase}}</ion-title>

    <ion-buttons class="language" slot="end">
      <ion-item>
        <ion-label>{{'label_language_selection'|translate}}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-select-option value="en" selected="true">English</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>

    <ion-row class="question-screen">
      <ion-col class="col-vertical-center">
        <div class="vertical-center left-box">
          <div class="preview" *ngIf="selected" (click)="openResource(selected)">
            <ion-item>
              <ion-thumbnail class="preview-image">
                <img [src]="getPreview('big',selected)" onError="this.src='assets/images/white.png'">
                <img *ngIf="!selected.previewUri" [src]="getType(selected)" class="icon-player">
              </ion-thumbnail>
            </ion-item>
            <div class="name-selected">
              {{selected.name}}
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col class="col-vertical-center list-element">
        <div class="vertical-center right-box">
          <!-- <ion-item > -->
            <button class="arrow" ion-button icon-only (click)="scrollUp()" [disabled]="startList"  [ngClass]="{disabled: startList}">
              <ion-icon name="arrow-dropup-circle"></ion-icon>
            </button>
          <!-- </ion-item> -->
          <ion-list id="gallery">
            <ion-item *ngFor="let resource of resources" (click)="selectResource(resource)">
              <ion-thumbnail slot="start">
                <img [src]="getPreview('small',resource)">
              </ion-thumbnail>
              <ion-label>{{resource.name}}</ion-label>
            </ion-item>
          </ion-list>
          <button class="arrow" ion-button icon-only (click)="scrollDown()" [disabled]="endList" [ngClass]="{disabled: endList}">
              <ion-icon name="arrow-dropdown-circle"></ion-icon>
            </button>
          <!-- <ion-item (click)="scrollDown()" [disabled]="endList">
            <ion-button class="arrow" ion-button icon-only>
              <ion-icon name="arrow-dropdown-circle"></ion-icon>
            </ion-button>
          </ion-item> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid class="grid-elements">
    <ion-row>
      <ion-col size="8" class="preview-element">
        <ion-card class="preview" *ngIf="selected" (click)="openResource(selected)">
          <ion-item>
            <ion-thumbnail class="preview-image">
                <img [src]="getPreview('big',selected)" onError="this.src='assets/images/white.png'">
                <img [src]="getType(selected)" class="icon-player" >
              </ion-thumbnail>
          </ion-item>
          <ion-card-content>
            {{selected.name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="list-element">
        <ion-item (click)="scrollUp()" [disabled]="startList">
          <ion-thumbnail class="arrow" slot="start">
            <ion-icon name="arrow-dropup-circle"></ion-icon>
          </ion-thumbnail>
        </ion-item>
        <ion-list id="gallery">
          <ion-item *ngFor="let resource of resources" (click)="selectResource(resource)">
            <ion-thumbnail slot="start">
              <img [src]="getPreview('small',resource)">
            </ion-thumbnail>
            <ion-label>{{resource.name}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-item (click)="scrollDown()" [disabled]="endList" >
          <ion-thumbnail class="arrow" slot="start">
            <ion-icon name="arrow-dropdown-circle"></ion-icon>
          </ion-thumbnail>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<ion-footer>
  <ion-toolbar class="color-bar">
    <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
  </ion-toolbar>
</ion-footer>