.color-bar {
    --background: #e65f46;
    --color: white;
  
    .language {
      ion-item {
        min-width: 250px;
        --background: #e65f46;
        --color: white;
      }
    }
  }
  ion-content {
    --background: #ffd2c8;
    --padding-top	:0px;
    --padding-bottom	:0px;

    ion-grid {
        height: 100%;
        --ion-grid-padding: 0px;
    
        .question-screen {
            height: 100%;
    
            .vertical-center {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: white;
            }
            .left-box {
                border: solid 3px #e65f46;
                border-radius: 12px;
                padding: 8px;
                position: relative;
                right: -20px;
            }
            .right-box {

            }
    
            .col-vertical-center {
                position: relative;
            }
        }
    }
  }
  .list-element {
    overflow: hidden;
    height: 94%;
    border: solid 3px #e65f46;
    border-radius: 12px;
    padding: 8px;
    margin-top: 20px;
    background-color: white;
    ion-list {
        height: 50vh;
        overflow: auto;
    }

    ion-thumbnail.arrow{
        width: 100%;
        color: #e65f46;
        ion-icon {
            width: 100%;
            height: 50px;
        }

    }

}

.preview {
    position: sticky;
.name-selected {
    text-align: center;
    font-size: 20px;
    padding: 12px;
}
    .preview-image {
        width: 80%;
        margin: auto;
        display: block;
        height: 50vh;
         .icon-player{
            position: absolute;
            top: 50%;
            height: 40px;
            left: 50%;
            width: auto;
         }
    }

}
::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #e65f46;
  outline: 1px solid slategrey;
}