.color-bar {
    --background: #0fb4d7;
    --color: white;

    
}

ion-content {
    --background: #dcf5fa;
    --padding-top: 0px;
    --padding-bottom: 0px;

    ion-grid {
        height: 100%;
        --ion-grid-padding: 0px;

        .question-screen {
            height: 100%;

            .vertical-center {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: white;
            }

            .left-box {
                border: solid 3px #0fb4d7;
                border-radius: 12px;
                padding: 8px;
                height: 50%;

                img {
                    max-height: 30vh;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}