<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'my_robot'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="robot-container">
    <ion-row>
      <ion-col size="2">
        <div class="point-container">
          <div class="point">
            <app-point [pointvalue]="getResourceValue('recycleCoin')" [iconname]="'photos'"></app-point>
            <app-point [pointvalue]="getResourceValue('reduceCoin')" [iconname]="'cube'"></app-point>
            <app-point [pointvalue]="getResourceValue('reuseCoin')" [iconname]="'star'"></app-point>

            <ion-button [routerLink]="['/members/change']" fill="outline">{{'change_robot'|translate}}</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div class="robot" *ngIf="profileData">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-img [src]="getImg('head')" class="head-robot"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-img [src]="getImg('armR')" class="armR-robot"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-img [src]="getImg('chest')" class="chest-robot"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-img [src]="getImg('armL')" class="armL-robot"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-img [src]="getImg('legs')" class="legs-robot"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-img [src]="getImg('feet')" class="feet-robot"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="resources-container">
          <div class="resources">
            <div class="total-resources" *ngIf="profileState">
              <ion-grid>
                <ion-row>

                  <ion-col>
                    {{profileState.totalRecycleCoin|number:'1.0-3':'it'}} {{'total_items'|translate}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    {{profileState.totalReduceCoin|number:'1.0-3':'it'}} {{'total_weight'|translate}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    {{profileState.totalReuseCoin|number:'1.0-3':'it'}} {{'total_co2'|translate}}</ion-col>
                </ion-row>
                <ion-row>

                  <ion-col>
                    {{profileState.items|number:'1.0-3':'it'}} {{'total_items'|translate}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    {{profileState.weight|number:'1.0-3':'it'}} {{'total_weight'|translate}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    {{profileState.co2|number:'1.0-3':'it'}} {{'total_co2'|translate}}</ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <app-resource [resourcename]="getResourceLabel('plastic')" [barvalue]="getResourceBar('plastic')"
              [resourcevalue]="getResourceValue('plastic')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('glass')" [barvalue]="getResourceBar('glass')"
              [resourcevalue]="getResourceValue('glass')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('iron')" [barvalue]="getResourceBar('iron')" [resourcevalue]="getResourceValue('iron')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('aluminium')" [barvalue]="getResourceBar('aluminium')"
              [resourcevalue]="getResourceValue('aluminium')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('copper')" [barvalue]="getResourceBar('copper')"
              [resourcevalue]="getResourceValue('copper')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('nickel')" [barvalue]="getResourceBar('nickel')"
              [resourcevalue]="getResourceValue('nickel')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('platinum')" [barvalue]="getResourceBar('platinum')"
              [resourcevalue]="getResourceValue('platinum')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('tin')" [barvalue]="getResourceBar('tin')" [resourcevalue]="getResourceValue('tin')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('silver')" [barvalue]="getResourceBar('silver')"
              [resourcevalue]="getResourceValue('silver')"></app-resource>
            <app-resource [resourcename]="getResourceLabel('gold')" [barvalue]="getResourceBar('gold')" [resourcevalue]="getResourceValue('gold')"></app-resource>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>