.color-bar {
    --background: #0fb4d7;
    color: white;
    .language {
        ion-item {
            min-width: 250px;
            --background: #0fb4d7;
            --color: white;
        }
    }
}

ion-content {
    --background: #dcf4fa;

    .robot-container {

        ion-row {
            height: 100%;

            .robot {
                // height: 541px;
                // width: 345px;
                position: relative;
                width: 43vh;

                .body-robot-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .body-robot {
                        display: table;

                        .body-robot-arm {
                            width: 11vh;
                            display: table-cell;
                            vertical-align: top;
                        }

                        .body-robot-chest {
                            width: 16vh;
                            display: table-cell;
                            vertical-align: top;
                        }
                    }
                }
            }

            ion-col {
                height: 100%;
                position: relative;
                text-align: center;

                .point-container {
                    position: relative;
                    top: 20%;

                    .point {
                        width: 30%;
                        position: absolute;
                        background-color: #bee6f5;
                        border-radius: 8px;
                        border: 2px white solid;
                    }
                }



                .resources-container {
                    position: relative;
                    top: 20%;

                    .resources {
                        .app-resources-container {
                            padding-left: 120px;
                            padding-top: 60px;

                            .app-resources {
                                padding-left: 20px;
                                border-radius: 8px;
                                background-color: #bee6f5;

                            }
                        }
                    }

                    .total-resources {
                        text-align: center;
                        margin: 12px;
                        position: relative;
                        background-color: #0fb4d7;
                        border-radius: 8px;
                        bottom: 12px;
                        color: white;
                        .value-resources {
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}