<ion-header>
  <ion-toolbar class="color-bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{'question_title'|translate}}</ion-title>

    <ion-buttons class="language" slot="end">
      <ion-item>
        <ion-label>{{'label_language_selection'|translate}}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-select-option value="en" selected="true">English</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="question-screen">
      <ion-col class="col-vertical-center">
        <div class="vertical-center">
          <ion-row>
            <div class="question-box">
              {{getQuestionMessage()}}
            </div>
          </ion-row>
          <ion-row>
            <ion-col size="6" *ngFor="let reply of replies | keyvalue">
              <ion-button color="dark" expand="block" fill="outline" (click)="addCoins(reply.key)">
                {{getReplyMessage(reply.key)|translate}}</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col class="col-dark col-vertical-center">
        <div class="vertical-center">
          <ion-row>
            <ion-col class="ion-text-center">
              <span class="bold">{{'number_replies'|translate}} </span> {{getNumberReplies()}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
                <span class="bold">{{'number_coins'|translate}} </span>{{getNumberCoins()}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button color="light" class="ion-text-center go-start" (click)="goToStart()" expand="block"
              fill="outline">
              {{'go_to_recycle'|translate}}
            </ion-button>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="color-bar">
    <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
  </ion-toolbar>
</ion-footer>