.marker-green{
    background-color: rgb(72,160,53)!important;
    color:white;
    ion-button {
        --background: rgb(72,160,53)!important;;
    --background-activated: white;
    --border-style:solid;
    --border-width:1px;
    --border-color:white!important;
    --color-activated:rgb(72,160,53)!important;
    --color:white;
    margin-top: 32px;

    }
}
.marker-yellow{
    background-color: rgb(251,201,46)!important;
    color: black!important;
    ion-button {
        margin-top: 32px;

    --background: rgb(251,201,46)!important;
    --background-activated: black!important;
    --border-style:solid;
    --border-width:1px;
    --border-color:black!important;
    --color-activated:rgb(251,201,46)!important;
    --color:black!important;
    }
}
.marker-blue{
    background-color:  rgb(25,155,217)!important;
    color:white!important;
    ion-button {
        margin-top: 32px;

    --background: rgb(25,155,217)!important;
    --background-activated: white;
    --border-style:solid;
    --border-width:1px;
    --border-color:white!important;
    --color-activated:rgb(25,155,217)!important;
    --color:white;
    }
}