ion-row {
    font-size: 14px;

    ion-progress-bar {
        height: 8px;
        --buffer-background: none;

    }
    .kilo {
        --progress-background :red;
    }
    .grammo{
        --progress-background :blue;

    }
   .miligrammo{
        --progress-background :violet;
    }

}