.color-bar {
    --background: #0fb4d7;
    color: white;
}

.language {
    ion-item {
        min-width: 250px;
        --background: #0fb4d7;
        color: white;

    }
}
.table-container{
    border: solid #0fb4d7;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    // right: 0%;
    left: -8px;
    padding: 12px;
    transform: translateY(-50%);
.table-classes {

    .class-name {
        // position: absolute;
        width: 80%;
        // bottom: 40px;
        text-align: center;
        background-color: white;
        opacity: 0.6;
        // border: solid 2px black;
        margin: auto;
    }
}
}
.grid {
    height: 100%;

    .grid-row {
        height: 100%;

        .grid-col {
            position: relative;

            .classes-container {
                height: 100%;
                // display: table;
                // width: 50vh;
                border: solid #0fb4d7;
                border-radius: 12px;



                    td {
                        position: relative;
                        height: 8em;



                        .single-class-container {
                            display: table-cell;
                        }
                    }
                
            }

            .resources {
                position: absolute;
                top: 50%;
                right: 0%;
                transform: translateY(-50%);
                z-index: 99;
                .app-resources-container {
                    // padding: 20px;

                    .app-resources {
                        padding-left: 20px;
                        border-radius: 8px;
                        background-color: #bee6f5;
                        color: black;

                    }
                }
            }

            .total-resources {
                color: white;
                text-align: center;
                margin: 12px;
                position: relative;
                background-color: #0fb4d7;
                border-radius: 8px;
                bottom: 12px;

                .value-resources {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }
}