<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons class="language" slot="end">
      <ion-item>
        <ion-label>{{'label_language_selection'|translate}}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-select-option value="en" selected="true">English</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="resources">
          <div class="app-resources-container">
            <div class="app-resources">
              <app-comparison *ngFor="let resource of resources" [resourcename]="getResourceLabel(resource.key)"
                [barvalue]="getResourceBar(resource.value)" [resourcevalue]="getResourceValue(resource.key)"
                [barCompareValue]="getResourceClassBar(resource.key,resource.value)" [resourceCompareValue]="getResourceClassValue(resource.key)"
                [className]="selectedClass"></app-comparison>
              <div class="total-resources" *ngIf="profileState">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      {{'total_reduce_coins'|translate}}: {{profileState.totalReduceCoin|number:'1.0-3':'it'}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      {{'total_reuse_coins'|translate}}: {{profileState.totalReuseCoin|number:'1.0-3':'it'}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      {{'total_recycle_coins'|translate}}: {{profileState.totalRecycleCoin|number:'1.0-3':'it'}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      {{'total_weight'|translate}}: {{profileState.weight|number:'1.0-3':'it'}}
                      {{getResourceUnit(profileState.weight)}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      {{'total_co2'|translate}}: {{profileState.co2|number:'1.0-3':'it'}}
                      {{getResourceUnit(profileState.co2)}}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col class="classes-container">
        <table>
          <tr *ngFor="let row of table; trackBy: trackRow">
            <td *ngFor="let cell of row; trackBy: trackRecord" (click)="selectClass(cell)">
              <ion-img [src]=mapImg[cell.objectId]></ion-img>
              <div class="class-name">
                {{ cell.name }}
              </div>
            </td>
          </tr>
        </table>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
  </ion-toolbar>
</ion-footer>