<ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
      <ion-item>
          <ion-label position="fixed">{{'label_item_username'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">{{'label_item_password'|translate}}</ion-label>
            <ion-input type="Password" [(ngModel)]="user.password" ></ion-input>
          </ion-item>
    <ion-button (click)="login()" expand="block">{{'label_item_enter'|translate}}</ion-button>
    <!-- <ion-button expand="block" color="danger" (click)="doGoogleLogin()">Google Login</ion-button> -->

  </ion-content>