<ion-header>
  <ion-toolbar class="color-bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'collection_title'|translate}}</ion-title>
 
    <ion-buttons class="language" slot="end">
      <ion-item>
        <ion-label>{{'label_language_selection'|translate}}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-select-option value="en" selected="true">English</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="question-screen">
      <ion-col class="col-vertical-center">
        <div class="vertical-center left-box">
          <div>
            <p class="title-collection">{{garbageCollectionName}}</p>
            <p class="subtitle-collection">{{getWantedMessage()}}</p>
          </div>
          <ion-img [src]="getImgName()"></ion-img>
        </div>
      </ion-col>
      <ion-col class="col-vertical-center">
        <div class="vertical-center right-box">
          <div>
            <div *ngIf="!message">
              <p class="title-collection">{{'label_close_item'|translate}}</p>
              <p class="subtitle-collection">{{'label_close_item_subtitle'|translate}}</p>
            </div>
            <div *ngIf="message">
              {{'label_identified'|translate}}
              {{message.itemId}}
            </div>
            <ion-button *ngIf="!manual" color="light" (click)="manual = true;" expand="block" fill="outline">
              {{'label_insert_item'|translate}}
            </ion-button>
            <div *ngIf="manual">
              <ion-button color="light" (click)="manualInsert()" expand="block" fill="outline">
                {{'label_use_id'|translate}}
              </ion-button>
              <ion-item>
                <ion-label position="floating">{{'label_id'|translate}}</ion-label>
                <ion-input [(ngModel)]="manualItemId"></ion-input>
              </ion-item>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="dark" [routerLink]="['/recycle-results']" expand="block" fill="outline">
    {{'label_end_recycle'|translate}}
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar class="color-bar">
    <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
  </ion-toolbar>
</ion-footer>