<ion-header>
  <ion-toolbar class="color-bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{'change_robot'|translate|uppercase}}</ion-title>
    <ion-buttons class="language" slot="end">
      <ion-item>
        <ion-label>{{'label_language_selection'|translate}}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-select-option value="en" selected="true">English</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="robot-container">
    <ion-row>
      <!-- <ion-col size="3">
        <div class="point-container">
          <div class="point">
            <app-point [pointvalue]="getResourceValue('recycleCoin')" [iconname]="'photos'" [label]="translate.instant('coins_recycle_label')"></app-point>
            <app-point [pointvalue]="getResourceValue('reduceCoin')" [iconname]="'cube'" [label]="translate.instant('coins_reduce_label')"></app-point>
            <app-point [pointvalue]="getResourceValue('reuseCoin')" [iconname]="'star'" [label]="translate.instant('coins_reuse_label')"></app-point>
          </div>
        </div>
      </ion-col> -->
      <div>
        <div>
          <div class="robot" *ngIf="profileData">
            <ion-grid>
              <ion-row class="head-row">
                <ion-col>
                  <ion-img [src]="getImg('head')" class="head-robot"></ion-img>
                </ion-col>
              </ion-row>
              <div class="body-robot-container">
                <div class="body-robot">
                  <div class="body-robot-arm">
                    <ion-img [src]="getImg('armR')" class="armR-robot"></ion-img>
                  </div>
                  <div class="body-robot-chest">
                    <ion-img [src]="getImg('chest')" class="chest-robot"></ion-img>
                  </div>
                  <div class="body-robot-arm">
                    <ion-img [src]="getImg('armL')" class="armL-robot"></ion-img>
                  </div>
                </div>
              </div>
              <ion-row class="legs-row">
                <ion-col>
                  <ion-img [src]="getImg('legs')" class="legs-robot"></ion-img>
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col>
                  <ion-button color="dark" [routerLink]="['/change']" fill="outline">{{'change_robot'|translate}}</ion-button>
                </ion-col>
              </ion-row> -->
            </ion-grid>
          </div>
        </div>
      </div>
      <ion-col>
        <div class="market-container">
          <div class="point-container">
            <div class="point">
              <app-point [pointvalue]="getResourceValue('recycleCoin')" [srcicon]="'./assets/icon/recycle.svg'"
                [label]="translate.instant('coins_recycle_label')"></app-point>
              <app-point [pointvalue]="getResourceValue('reduceCoin')" [srcicon]="'./assets/icon/reduce.svg'"
                [label]="translate.instant('coins_reduce_label')"></app-point>
              <app-point [pointvalue]="getResourceValue('reuseCoin')" [srcicon]="'./assets/icon/reuse.svg'"
                [label]="translate.instant('coins_reuse_label')"></app-point>
            </div>
          </div>
          <div class="resources">
            <div class="app-resources-container">
              <ion-grid *ngIf="!selection;else market">
                <ion-row>
                  <ion-col>
                    <div class="title-market">
                      <ion-label class="choose-piece" text-wrap class="ion-text-center">
                        {{'which_piece'|translate}}
                      </ion-label>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="piece-container">
                      <!-- <ion-img [src]="getImgDefault('armR')"></ion-img> -->
                      <ion-button fill="outline" expand="block" (click)="select('armR')">
                        <ion-label text-wrap>
                          {{'change_robot_armR'|translate}}
                        </ion-label>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="piece-container">
                      <!-- <ion-img [src]="getImgDefault('armL')"></ion-img> -->
                      <ion-button fill="outline" expand="block" (click)="select('armL')">
                        <ion-label text-wrap>{{'change_robot_armL'|translate}}</ion-label>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="piece-container">
                      <!-- <ion-img [src]="getImgDefault('head')"></ion-img> -->
                      <ion-button fill="outline" expand="block" (click)="select('head')">
                        <ion-label text-wrap>{{'change_robot_head'|translate}}</ion-label>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="piece-container">
                      <!-- <ion-img [src]="getImgDefault('chest')"></ion-img> -->
                      <ion-button fill="outline" expand="block" (click)="select('chest')">
                        <ion-label text-wrap>{{'change_robot_chest'|translate}}</ion-label>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="piece-container">
                      <!-- <ion-img [src]="getImgDefault('legs')"></ion-img> -->
                      <ion-button fill="outline" expand="block" (click)="select('legs')">
                        <ion-label text-wrap>{{'change_robot_legs'|translate}}</ion-label>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ng-template #market>
                <ion-grid class="market-pieces">
                  <ion-row>
                    <ion-col>
                      <ion-label>{{'choose_piece'|translate}}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4" *ngFor="let item of filteredCatalog">
                      <div class="piece">
                        <div [ngClass]="{'not-active': !isBuyable(item)}">
                          <ion-img [src]="getImgNewComponent(item)"></ion-img>
                          <app-point [pointvalue]="getResourceValueItem(item,'recycleCoin')"
                            [srcicon]="'./assets/icon/recycle.svg'" [label]="translate.instant('coins_recycle_label')">
                          </app-point>
                          <app-point [pointvalue]="getResourceValueItem(item,'reduceCoin')" [srcicon]="'./assets/icon/reduce.svg'"
                            [label]="translate.instant('coins_reduce_label')"></app-point>
                          <app-point [pointvalue]="getResourceValueItem(item,'reuseCoin')" [srcicon]="'./assets/icon/reuse.svg'"
                            [label]="translate.instant('coins_reuse_label')"></app-point>
                          <ion-button color="dark" fill="outline" expand="block" [disabled]="tryingItem(item)"
                            (click)="tryItem(item)">{{'change_robot_try'|translate}}</ion-button>
                          <ion-button color="dark" fill="outline" expand="block" [disabled]="buyableItem(item)"
                            (click)="buyItem(item)">{{'change_robot_buy'|translate}}</ion-button>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col *ngIf="filteredCatalog.length==0">
                      {{'empty_list'|translate}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button class="back-page" color="dark" fill="outline" expand="block" (click)="backPage()">
                        {{'back_change_button'|translate}}</ion-button>
                    </ion-col>
                    <!-- <ion-col *ngIf="trying">
                  <ion-button fill="outline" expand="block" (click)="cancelSelection()">{{'dont_like_button'|translate}}</ion-button>
                </ion-col> -->
                  </ion-row>
                </ion-grid>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="color-bar">
    <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
  </ion-toolbar>
</ion-footer>