// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/font/Montserrat/Montserrat-Regular.ttf');
  }
  $font-family-base: "Montserrat"; 
  $font-family-md-base: "Montserrat"; 
  $font-family-ios-base: "Montserrat"; 
  $font-family-wp-base: "Montserrat"; 
  * {
    font-family: 'Montserrat';
  }
  .color-bar {
    --background: #0fb4d7;
    --color: white;
    .game-title {
        text-align: center;
        width: 100%;
    }
    .language {
        ion-item {
            min-width: 250px;
            --background: #0fb4d7;


        }
    }
}