<ion-header>
  <ion-toolbar>
    <ion-title>item-classification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  {{'label_item_reusable'|translate}} {{item.reusable}}
  {{'label_item_valuable'|translate}}{{item.valuable}}
  <ion-button [routerLink]="['/members/start']" expand="block" fill="outline">{{'label_new_item'|translate}}</ion-button>
  <ion-button [routerLink]="['/members/recycle-results']" expand="block" fill="outline">
    {{'label_end_recycle'|translate}}
  </ion-button>
</ion-content>
