<ion-header>
    <ion-toolbar class="color-bar">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">{{'well_done_title'|translate}}</ion-title>
      <ion-buttons class="language" slot="end">
        <ion-item>
          <ion-label>{{'label_language_selection'|translate}}</ion-label>
          <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
            <ion-select-option value="en" selected="true">English</ion-select-option>
            <ion-select-option value="it">Italiano</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="question-screen">
      <ion-col class="col-vertical-center">
        <div class="vertical-center">
          <div class="result">
          <div class="title-result ion-padding">
            {{'label_well_done'|translate|uppercase}}
          </div>
          <div class="subtitle-result ion-padding">
            {{getValueString()}}
          </div>
          <div class="ion-padding">
            {{getValueItem()}}
          </div>
          <div class="ion-padding">
            {{getPoints()}}
          </div>
          <div class="ion-padding">
            {{'label_bring_stuff'|translate}}
          </div>
          <ion-button color="dark" [routerLink]="['/start']"  fill="outline">{{'label_new_item'|translate}}
          </ion-button>
          <ion-button color="dark" [routerLink]="['/recycle-results']" fill="outline">
            {{'label_end_recycle'|translate}}
          </ion-button>
        </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="color-bar">
    <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
  </ion-toolbar>
</ion-footer>