.color-bar {
    --background: #1ea046;
    --color: white;

    .language {
        ion-item {
            min-width: 250px;
            --background: #1ea046;
            --color: white;
        }
    }
}

ion-content {
    --background: #b4e6c8;
    --padding-top: 0px;
    --padding-bottom: 0px;
}

ion-grid {
    height: 100%;
    --ion-grid-padding: 0px;

    .question-screen {
        height: 100%;

        .vertical-center {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            // background-color: white;
            .result {
                margin: auto;
                width: fit-content;
                text-align: center;
                width: 50%;

                .title-result {
                    font-weight: bold;
                    font-size: 24px;

                    padding: 8px;
                }

                .subtitle-result {
                    font-weight: bold;

                    padding: 8px;

                }
                .marker-green{
                    background-color: #28B453;
                    color:white;

                }
                .marker-yellow{
                    background-color: #FFFF48;
                    color: black;
                }
                .marker-blue{
                    background-color:  #414FFF;
                    color:white;

                }
                .marker{ width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                margin: auto;
                border: solid 1px black;
                border-radius: 50px;
                }
            }
        }
    }
}