.color-bar {
    --background: #1ea046;
    --color: white;

    .language {
        ion-item {
            min-width: 250px;
            --background: #1ea046;
            --color: white;
        }
    }
}

ion-content {
    --background: #b4e6c8;
    --padding-top: 0px;
    --padding-bottom: 0px;
}

ion-grid {
    height: 100%;
    --ion-grid-padding: 0px;

    .question-screen {
        height: 100%;

        .vertical-center {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            // background-color: white;
        }

        .left-box {
            // border: solid 3px #009952;
            // border-radius: 12px;
            padding: 8px;

            ion-img {
                max-width: 250px;
                margin: auto;
                width: 20vh;
            }

            .send-item {
                width: fit-content;
                margin: auto;
            }

            .answers {
                width: fit-content;
                margin: auto;

                .title-recap {
                    font-weight: bold;
                    font-size: 32px;
                }

                .item-title {
                    font-weight: bold;
                    font-size: 20px;
                }

                .recap {
                    font-weight: bold;
                    margin-right: 12px;
                }
            }
        }

        .last-step {
            background-color: transparent !important;
        }

        .right-box {
            border-radius: 12px;
            padding: 48px;
            background-color: #1ea046;
            color: white;

            ion-col {
                padding: 0px;
            }

            .title-question {
                font-size: 20px;
                font-weight: bold;

            }
        }
    }
}