<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons class="language" slot="end">
      <ion-item>
        <ion-label>{{'label_language_selection'|translate}}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-select-option value="en" selected="true">English</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <div *ngIf="item">
        {{item.itemId}}
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let choice of choices">
      <div>
       {{getChoiceLabel(choice.label)}} 
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="questionTime()">
    <ion-col *ngFor="let item of steps[actualStep]| keyvalue">
      <ion-button (click)="chooseCategory(item.value)" expand="block" fill="outline">{{getLabel(item.key)}}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!questionTime()">
    <ion-col>
      <ion-button (click)="sendItem()" expand="block" fill="outline">{{'label_send_item'|translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>