ion-grid {
  .scan-button {
    text-align: center;
  }
  .home-button-icon {
    position: absolute;
    left: 16px;
  }
  // ion-button {
  //   --background: white;
  //   --background-activated: #0fb4d7;
  //   --border-style: solid;
  //   --border-width: 2px;
  //   --border-color: #0fb4d7;
  //   --color-activated: white;
  //   --color: #0fb4d7;
  //   font-weight: bold;
  // }
  .home-buttons{
    position: fixed;
    bottom: 0px;
    width: 92%;
  }
  .home-square {
    height: 60vh;
    text-align: center;
    position: relative;
    .home-square-conent {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .label_big{
          font-size: 35px;
          font-weight: bold;;
      }
      .label_little{
          font-size: 20px;
          font-weight: bold;
      }
    }
  }
}
