ion-button {
    --background: white;
    --background-activated: #0fb4d7;
    --border-style: solid;
    --border-width: 2px;
    --border-color: #0fb4d7;
    --color-activated: white;
    --color: #0fb4d7;
    font-weight: bold;
}
.scan-button {
    margin-top:50px;
}