<ion-header>
    <ion-toolbar class="color-bar">
        <ion-title class="game-title">
            <div>{{'title_game_selection'|translate}}</div>
            <div class="game-subtitle">{{ getFooter()}}</div>
        </ion-title>
        <ion-buttons class="language" slot="end">
            <ion-label> {{'label_logout'|translate}} </ion-label>

            <ion-button (click)="changeClass()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="common-content">
    <img class="background-img" src="./assets/logo.png">    <ion-grid>
        <ion-row>
            <ion-col class="class-selected">
                {{'label_class_selected'|translate}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="class-name">
                <ion-label>{{playerName}} </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="procedure">
                <ion-label>
                    {{'label_scan_procedure'|translate}}
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="scan-button">
                    <ion-button size="large" ion-button (click)="scan()">{{'label_scan'|translate}} </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <div *ngIf="scanData">
        <p>{{'label_id'|translate}} {{scanData.text}}</p>
        <p *ngIf="itemPresent">{{'label_item_present'|translate}}</p>
        <ion-button ion-button (click)="sendLim()" [disabled]="itemPresent">{{'label_send_to_lim'|translate}}
        </ion-button>
    </div> -->
</ion-content>
<!-- <ion-footer>
    <ion-toolbar class="color-bar">
        <ion-title class="ion-text-center">{{ getFooter()}}</ion-title>
    </ion-toolbar>
</ion-footer> -->