<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            {{'label_class_selected'|translate}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button ion-button (click)="changeClass()">{{playerName}} </ion-button>
        </ion-col>
    </ion-row>
    <div>
        <ion-button ion-button (click)="scan()">{{'label_scan'|translate}} </ion-button>
    </div>
    <div *ngIf="scanData">
        <p>{{'label_id'|translate}} {{scanData.text}}</p>
        <p *ngIf="itemPresent">{{'label_item_present'|translate}}</p>
        <ion-button ion-button (click)="sendLim()" [disabled]="itemPresent">{{'label_send_to_lim'|translate}}
        </ion-button>
    </div>
</ion-content>