ion-button {
    --background: #0fb4d7;
    --background-activated: white;
    --border-style: solid;
    --border-width: 1px;
    --border-color: #0fb4d7;
    --color-activated: #0fb4d7;
    --color: white;
  }
  .home-square {
    height: 50vh;
    text-align: center;
    position: relative;
    .home-square-conent {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .label_big{
          font-size: 26px;
      }
    }
}